#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.task-list {
  margin-top: 20px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffccbc; /* Default color */
}

.task:nth-child(6n+2) { background-color: #c8e6c9; } /* Pastel Green */
.task:nth-child(6n+3) { background-color: #fff9c4; } /* Pastel Yellow */
.task:nth-child(6n+4) { background-color: #ffcdd2; } 
.task:nth-child(6n+5) { background-color: #e1bee7; } 
.task:nth-child(6n)   { background-color: #bbdefb; } 

.task h3 {
  margin: 0;
  flex-grow: 1;
  text-decoration: none;
}

.task.completed h3 {
  text-decoration: line-through;
}

.checkmark {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  cursor: pointer;
  margin-right: 10px;
}

.checkmark:checked {
  background-color: #d1e7dd;
  border: 2px solid #198754;
}

.checkmark:checked::after {
  content: '✓';
  color: white;
}

.btn {
  padding: 8px 12px;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.2s;
}

.delete-btn {
  background-color: #ff6b6b;
  border: 1px solid #ff4c4c;
}

.delete-btn:hover {
  background-color: #ff4c4c;
  transform: scale(1.05);
}

.save-btn {
  padding: 17px 25px;
  background-color: #6bbf6b;
  border: 1px solid #4cae4c;
}

.save-btn:hover {
  background-color: #4cae4c;
  transform: scale(1.05);
}

.input-field {
  width: 70%; 
  height: 30px;
  padding: 10px;
  border-radius: 10px;
  background-color: #d1e7dd;
  margin-right: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: black;
  transition: border-color 0.3s;
}

.input-field:focus {
  border-color: #198754;
}
